NODE_ENV=development
PORT=8080
DATABASE_URL=postgresql://dbadmin:password@10.0.0.7:5432/bd_ce76
JWT_ACCESS_SECRET=change_access_secret
JWT_REFRESH_SECRET=change_refresh_secret
OPENDOTA_API_KEY=
OPENDOTA_BASE_URL=https://api.opendota.com/api
